<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>	
  <title>Dhwi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1>Which is the Best Meal?</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/topics/new">Nominate a Meal</a></li>
				<li><a href="/about.html">About</a></li>
			</ul>
		</nav>
	</header>
<% flash.each do |name, msg| %>
	<div><%= msg %></div>
<% end %>
<%= yield %>

</body>
</html>
