<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Offside' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>	
  <title>Dhwi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<h1>Which is the Best Meal?</h1>
		<nav>
			<ul>
				<li><%= link_to 'Home', root_path %></li>
				<li><%= link_to 'List of Meals', topics_path %></li>
				<li><%= link_to 'Nominate a meal', new_topic_path %></li>
				<li><%= link_to 'About', pages_about_path %></li>
			</ul>
		</nav>
	</header>
<% flash.each do |name, msg| %>
	<div><%= msg %></div>
<% end %>
<%= yield %>
	<footer>
		<ul>			
			<!-- Need to fix the size of the Twitter icon -->
			<!-- <li><%= link_to image_tag('https://twitter.com/images/resources/twitter-bird-blue-on-white.png'), 'https://twitter.com/SHHHenry' %> </li> -->
			<li><%= link_to image_tag('twitter-32x32.png'), 'https://twitter.com/SHHHenry' %> </li>
			<li><%= link_to image_tag('delicious-32x32.png'), 'https://delicious.com/spurioso' %> </li>
			<li><%= link_to image_tag('lastfm-32x32.png'), 'http://www.last.fm/user/spurioso' %> </li>
			<li><%= link_to image_tag('goodreads-32x32.png'), 'http://www.goodreads.com/user/show/2586058-steve-henry' %> </li>
			<li><%= link_to image_tag('github-32x32.png'), 'https://github.com/spurioso' %> </li>
			<li><%= link_to image_tag('mendeley.png'), 'http://www.mendeley.com/profiles/stephen-henry1' %> </li>
			
		</ul>
	</footer>

</body>
</html>
